<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>

	<root>
		<level value="warn" />
		<appender-ref ref="stdout" />
	</root>

	<!-- Hibernateが発行するSQL -->
	<logger name="org.hibernate.SQL" additivity="false">
		<level value="${org.hibernate.SQL:-debug}" />
		<!--appender-ref ref="stdout" /-->
	</logger>

	<!-- Hibernateが発行するSQLのパラメータ -->
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" additivity="false">
		<level value="${org.hibernate.type.descriptor.sql.BasicBinder:-trace}" />
		<!--appender-ref ref="stdout" /-->
	</logger>

	<!-- Hibernateが生成するトランザクション -->
	<logger name="org.hibernate.transaction.JDBCTransaction" additivity="false">
		<level value="debug" />
		<!--appender-ref ref="stdout" /-->
	</logger>

</configuration>